@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");


:root{
  --bg: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #85a2e7,
    #70aae9,
    #5cb1e8,
    #39b6e2,
    #13bad7,
    #0abdc7,
    #2ebfb5
  );
}

body {
  background-image: var(--bg);
  font-family: "Poppins", sans-serif;
}

.frame h1{
  margin: 0;
  padding: 0;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: 1.5rem;
}
.time {
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3), -2px -2px 2px rgba(255,255,255, 0.1);
  margin: 12px;
  font-weight: 600;
}
.frame {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls button {
  padding: 8px 18px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-weight: 200;
  margin: 0 .05rem;
  border-radius: 2rem;
  opacity: .7;
}

.controls button:hover{
    background: rgba(0, 0, 0, 0.75);
}

.controls button.active{
  opacity: 1;
  background: rgba(0, 0, 0, 0.75);
}

.edit-timer{
  height: 70vh;
  width: 100vw;
  position: fixed;
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 15vh;
  z-index: 500;
}

.new-timer{
display: flex;
flex-direction: column;
background: #fff;
justify-content: center;
align-items: center;
margin: 0 auto;
width: 320px;
bottom: 0;
left: calc(50% - 160px);
box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.6);
border-radius: 1.2rem;
overflow: hidden;

}

.no-display{
  display: none !important;
}

.new-timer h2{
  margin: 0 1rem;
  padding: 0;
  font-weight: 300;
  font-size: 1.1rem;
  text-align: center;
  height: 1.6rem;
  line-height: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
}

.time-wrap{
  display: flex;
  flex-direction: row;
}

.add-btn{
  top: 1.2rem;
  right: 1.2rem;
  border-radius: 50%;
  position: fixed;
  text-align: center;
  font-size: 1.6rem;
  line-height: 3.2rem;
  width: 3.2rem;
  height: 3.2rem;
  background: rgba(255, 255, 255, 0.85);
  color: rgba(0, 0, 0, 0.75);
  margin-top: calc(100vh - (5.6rem));
  transition: background-color, transform, margin .8s;
  z-index: 200;

}

.open{
  transform: rotate(0deg);
  background: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  margin-top: 0;
  color: #fff;
}

@keyframes btn {
  0% { opacity: 1; margin-right: -50px }
  20% { opacity: .5;}
  50% { opacity: 0;}
  70%{ opacity: .5;}
  100%{ opacity: 1; margin-right: 0px;}
}


.up, .down, .label{
  width: 100%;
  text-align: center;
}

.up, .down{
  height: 1.6rem;
  line-height: 1.6rem;
  border-radius: .8rem;
  background: #ddd;
  color: #aaa;
}

.label{
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.3rem;
  line-height: 2.3rem;
  height: 2.3rem;
  font-weight: 600;

}

.add-min, .add-sec{
  display: flex;
  flex-direction: column;
  float: left;
  box-sizing: border-box;
  width: 80px;
  margin: 5px;
}

.set-time{
  background: var(--bg);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  width: calc(100% - 40px);
margin: 10px 20px;
height: 2.4rem;
line-height: 2.4rem;
border-radius: 1.2rem;
text-align: center;
color: #fff;
}

.timer-name{
  font-weight: 200;
  width: 100%;
  line-height: 2.4rem;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px dashed #ddd;
  text-align: center;
  font-size: 1.4rem;
}



.time-line{
  width: 300px;
  background:rgba(255, 255, 255, 0.25);
  height: 8px;
  margin-bottom: 15px;
  display: flex;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

}

.time-line-in{
  width: 0%;
  background: #ffffff;
  height: 4px;
  border-radius: 2px;
  margin: 2px;
  transition: all .6s;
}

footer{
  width: 100%;
  position: fixed;
  height: 2rem;
  line-height: 2rem;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.25);
  font-size: 75%;
  text-align: center;
  border-top: 1px dashed rgba(255, 255, 255, 0.25);
  background-image:linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.10),
    rgba(0, 0, 0, 0.15)
  );
  z-index: 100;

}